body {
    margin: 0px;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Conteiner*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("images/eng3.jpg") center no-repeat;
    background-size: cover;
}

.intro_title {
    font-size: 130px;
    font-weight: 650;
    color: white;
    text-align: center;

}

.intro_suptitle {
    font-size: 27px;
    color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.intro_suptitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 30px auto 15px;
}

.intro_inf {
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight: 7;  
}
.intro_inf1 {
    font-size: 17px;
    color: white;
    text-align: center;
    font-weight: 7; 
    margin-top: -15px; 
}

/*Header*/
.header {
    padding-top: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    color: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav {
    font-size: 17px;  
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    position: relative;

    transition: color 0.2s linear;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: black;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}

.nav_link:hover {
    color: black;
}

.nav_link:hover:after {
    opacity: 1;
}

.info {
    margin-top: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
} 
